@model DepartmentPersonel.Entities.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SignInCSS.css" rel="stylesheet" />
</head>
<body class="text-center">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form class="form-signin">
            <h1 class="h3 mb-3">Forgot Password</h1>
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", autofocus = "autofocus", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send password reset email" />
            <p class="mb-3 mt-2 text-muted">© 2020 Burak BAŞESKİOĞLU</p>
        </form>
    }

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
