<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Parola sıfırlama bağlantısı";
}

<div class="container mt-5">
    @if(ViewBag.ErrorMessage != null)
    {
        <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
    }
    @if(ViewBag.Message != null)
    {
        <p class="alert alert-danger">@ViewBag.Message</p>
    }
    <p class="alert alert-success">
        Parolanızı sıfırlama linki kayıtlı olduğunuz e-posta adresine gönderildi.
        Giriş ekranına dönmek için <a href="@Url.Action("Login", "Account")">tıklayın</a>
    </p>
</div>
