@model DepartmentPersonel.Entities.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOn</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/SignInCSS.css" rel="stylesheet" />
</head>
<body class="text-center">
    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <form class="form-signin">
        @if(ViewBag.ErrorMessage != null)
        {
            <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
        }
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email address", required = "required", autofocus = "autofocus", type= "email"})
        @Html.TextBoxFor(a => a.UserPassword, new { @class = "form-control", placeholder = "Password", required = "required", type = "password" })
        <div class="checkbox mb-3 mt-2">
            <label>
                <input type="checkbox" value="remember-me" />
                Remember me
            </label>
        </div>
        @*<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>*@
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign in"/>
        <p class="mt-5 mb-3 text-muted">© 2020 Burak BAŞESKİOĞLU</p>
    </form>
    }

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
